* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: #23252c;
}

.social-icons {
  list-style-type: none;
  display: flex;
  width: 35vh;
  margin: auto;
}

.social-icons li {
  margin: 10px;
}

footer {
  background-color: #161619;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.interests,
.about,
.inner-header,
.header {
  background-color: #1a1b21;
  color: #fff;
  padding: 10px;
}

.header {
  padding: 0;
}

.interests h1,
.interests p,
.about h1,
.about p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.interests h1,
.about h1 {
  font-size: 20px;
}

.interests p,
.about p {
  font-size: 15px;
}

.header img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1,
h2,
p {
  margin-left: 20px;
  margin-right: 20px;
}

button {
  width: 10.1rem;
  margin-left: 10px;
}

.email-btn img {
  width: 25px;
  display: inline-block;
}

.email-btn,
.linkedin-btn {
  background-color: #d1d5db;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
}

.linkedin-btn {
  background-color: #5093e2;
  color: #fff;
}

.inner-header {
  text-align: center;
}

.inner-header h2 {
  font-size: 16px;
  color: #f3bf99;
  font-weight: 200;
  line-height: 0;
}

.inner-header p {
  font-weight: 200;
  font-size: 14px;
}

p {
  font-weight: 200;
}

.container {
  max-width: 400px;
  margin: 10px auto;
  border-radius: 10px;
}
